.offset-navbar {
	min-height: 80px;
}

.panel-heading h3 {
	font-weight: bold;
	display: inline-block;
}

.panel-heading .btn {
	margin-top: 12px;
}

.proyek-card,
.proyek-card:hover {
	display: block;
	min-height: 100px;
	border-radius: 3px;
	background-color: #90f;
	text-decoration: none;
	color: #000;
}

.proyek-card .proyek-title {
	padding: 10px 10px;
	font-weight: bold;
	font-size: 1.2em;
}

.content-header {
	padding-bottom: 10px;
}

.content-body {
	padding-top: 20px;
}

textarea.form-control {
	resize: none;
	height: 100px !important;
}
